extends layout

block content
    div.form-panel
        div.header Edit Card
            form(action=`/edit/${pokemon.id}` method='post')
                div.form-input
                    label(for='name') Name:
                    input(type='text' id='name' name='name' value=pokemon.name)
                div.form-input
                    label(for='health') Hp:
                    input(type='text' id='health' name='health' value=pokemon.health)
                div.form-input
                    label(for='type') Type:
                    select(id='type' name='type' autocomplete='off')
                    each ptype in types
                        option(value=ptype selected = ptype === pokemon.ptype) #{ptype}
                div.form-input
                    label(for='image') Pokemon Image:
                    input(type='text' id='image' name='image' value=pokemon.pokemon_image)
                div.form-input
                    label(for='move-set') First move-set:
                    input(type='text' id='move-set' name='move-set' value=pokemon.move_type)
                div.form-input
                    label(for='second-move-set') Second move-set:
                    input(type='text' id='second-move-set' name='second-move-set' value=pokemon.second_move_type)
                div.form-input
                    label(for='skill') Skill set:
                    textarea(id='skill' name='skill') #{pokemon.skill}
                div.form-input
                    label(for='damage') Damage:
                    input(type='text' id='damage' name='damage' value=pokemon.damage)
div.form-input
    label(for='move-set2') First move-set2:
    input(type='text' id='move-set2' name='move-set2' value=pokemon.move_type2)
div.form-input
    label(for='second-move-set2') Second move-set2:
    input(type='text' id='second-move-set2' name='second-move-set2' value=pokemon.second_move_type2)
                div.form-input
                    label(for='skill2') Skill set:
                    textarea(id='skill2' name='skill2') #{pokemon.skill2}
                div.form-input
                    label(for='damage2') Damage:
                    input(type='text' id='damage2' name='damage2' value=pokemon.damage2)
                div.form-input
                    label(for='weakness') Weakness:
                    select( id='weakness' name='weakness')
                    -for (let i = 1; 1 <= 5; i++)
                        option(value=i selected= (weakness === pokemon.weakness)) #{i}
                    div.form-input
                        label(for='resist') resistance:
                        select( id='resist' name='resist')
                        -for (let i = 1; 1 <= 5; i++)
                            option(value=i selected= (resist === pokemon.resist)) #{i}
                div.form-input
                    label(for='retreat') Retreat:
                    select( id='retreat' name='retreat')
                    -for(let i = 1; 1<=5; i++)
                        option(value=i selected= (retreat_cost ===pokemon.retreat_cost)) #{i}


